In [1]:
num_int = 12

In [2]:
num_str = '8'

In [4]:
num_sum = num_int + int(num_str)  # We can use int() to change the data type from String to int

print(num_sum)

20

Now let's change list data type to sets

In [6]:
list_type = [1,2,3,3,3,3,3,3,3,2,2,2,2,1,1,1,1,1]

print(list_type)

[1, 2, 3, 3, 3, 3, 3, 3, 3, 2, 2, 2, 2, 1, 1, 1, 1, 1]

In [7]:
print(set(list_type)) # The data type is changed to set where set contains only unique values

{1, 2, 3}

Now let's change the long string data type to list which could be useful

In [15]:
long_str = 'I am Tanay'

print('The list is ',list(long_str))

print('The set is ',set(long_str))

 # We can convert it into set for more uniques values

The list is  ['I', ' ', 'a', 'm', ' ', 'T', 'a', 'n', 'a', 'y']
The set is  {'m', 'y', ' ', 'n', 'a', 'I', 'T'}