# List

In [1]:
fruits = ['apple', 'banana','grapes']

##### A list containing values of different data types, including another list.

In [3]:
a_list = [23, 'hello', None, 3.14, fruits, 3 <= 5]
a_list

[23, 'hello', None, 3.14, ['apple', 'banana', 'grapes'], True]

##### We can find the length of the list using the len function

In [5]:
print("Number of fruits are ", len(fruits))

Number of fruits are  3

##### You can access the elements of a list using the the index of the element, starting from the index 0.

In [6]:
fruits

['apple', 'banana', 'grapes']

In [7]:
fruits[0]

'apple'

In [8]:
fruits[1]

'banana'

In [9]:
fruits[2]

'grapes'

##### If you try to access an index equal to or higher than the length of the list, Python returns an IndexError

In [10]:
fruits[3]

IndexError: list index out of range

##### List can even support -ve index.

In [11]:
fruits[-1]

'grapes'

In [12]:
fruits[-2]

'banana'

In [13]:
fruits[-3]

'apple'

In [14]:
fruits[-4]

IndexError: list index out of range

##### You can also access a range of values from the list. The result is itself a list. Let us look at some examples.

In [15]:
a_list

[23, 'hello', None, 3.14, ['apple', 'banana', 'grapes'], True]

In [16]:
a_list[2:5]

[None, 3.14, ['apple', 'banana', 'grapes']]

Here are some experiments

In [17]:
a_list[2:10]

[None, 3.14, ['apple', 'banana', 'grapes'], True]

In [18]:
a_list[12:10]

[]

In [21]:
a_list[2:]

[None, 3.14, ['apple', 'banana', 'grapes'], True]

In [22]:
a_list[:5]

[23, 'hello', None, 3.14, ['apple', 'banana', 'grapes']]

In [23]:
a_list[-2:-5]

[]

In [25]:
a_list[-5:-2]

['hello', None, 3.14]

##### You can also change the value at a specific index within a list using the assignment operation.

In [26]:
fruits

['apple', 'banana', 'grapes']

In [27]:
fruits[1] = 'blueberry'

In [28]:
fruits

['apple', 'blueberry', 'grapes']

##### A new value can be added to the end of a list using the .append method.

In [29]:
fruits.append('dates')

In [30]:
fruits

['apple', 'blueberry', 'grapes', 'dates']

##### A new value can be added to the end of a list using the .insert method.

In [31]:
fruits.insert(1, 'banana')

In [32]:
fruits

['apple', 'banana', 'blueberry', 'grapes', 'dates']

##### You can remove a value from the list using the .remove method.

In [33]:
fruits.remove('blueberry')

In [34]:
fruits

['apple', 'banana', 'grapes', 'dates']

In [35]:
fruits.remove('apple', 'dates')

TypeError: list.remove() takes exactly one argument (2 given)

##### To remove an element from a specific index, use the .pop method. The method also returns the removed element.

In [36]:
fruits.pop(1)

'banana'

In [37]:
fruits

['apple', 'grapes', 'dates']

If no index is provided, the pop method removes the last element of the list.

In [39]:
fruits.pop()

'dates'

In [40]:
fruits

['apple', 'grapes']

##### You can test whether a list contains a value using the 'in' operator.

In [41]:
'pineapple' in fruits

False

In [42]:
'grapes' in fruits

True

##### To combine two or more lists, use the '+' operator. This operation is also called concatenation.

In [43]:
fruits

['apple', 'grapes']

In [44]:
more_fruits = fruits + ['pineapple', 'tomato', 'guava'] + ['dates', 'banana']

In [45]:
more_fruits

['apple', 'grapes', 'pineapple', 'tomato', 'guava', 'dates', 'banana']

##### To create a copy of a list, use the .copy method. Modifying the copied list does not affect the original list.

In [47]:
more_fruits_copy = more_fruits.copy()

In [48]:
more_fruits_copy

['apple', 'grapes', 'pineapple', 'tomato', 'guava', 'dates', 'banana']

Note: *You cannot create a copy of a list by simply creating a new variable using the assignment operator =. The new variable will point to the same list, and any modifications performed using either variable will affect the other.*

Just like strings, there are several in-built methods to manipulate a list. Unlike strings, however, most list methods modify the original list, rather than returning a new one. More list operations : https://www.w3schools.com/python/python_ref_list.asp

# Tuple

In [49]:
fruits = ('apple','cherry','dates')

In [50]:
fruits

('apple', 'cherry', 'dates')

In [51]:
# check no. of elements
len(fruits)

3

In [52]:
# get an element (positive index)
fruits[0]

'apple'

In [53]:
# get an element (negative index)
fruits[-2]

'cherry'

In [54]:
# check if it contains an element
'dates' in fruits

True

In [55]:
# try to change an element
fruits[0] = 'avocado'

TypeError: 'tuple' object does not support item assignment

In [56]:
# try to append an element
fruits.append('blueberry')

AttributeError: 'tuple' object has no attribute 'append'

In [57]:
# try to remove an element
fruits.remove('apple')

AttributeError: 'tuple' object has no attribute 'remove'

##### You can also skip the parantheses `(` and `)` while creating a tuple. Python automatically converts comma-separated values into a tuple.

In [58]:
the_3_musketeers = 'Athos', 'Porthos', 'Aramis'

In [59]:
the_3_musketeers

('Athos', 'Porthos', 'Aramis')

##### You can also create a tuple with just one element by typing a comma after it. Just wrapping it with parentheses `(` and `)` won't make it a tuple.

In [60]:
single_element_tuple = 4,

In [61]:
single_element_tuple

(4,)

In [62]:
another_single_element_tuple = (4,)

In [63]:
another_single_element_tuple

(4,)

In [64]:
not_a_tuple = (4)

In [65]:
not_a_tuple

4

##### Tuples are often used to create multiple variables with a single statement.

In [66]:
point = (3, 4)

In [67]:
point_x, point_y = point

In [68]:
point_x

3

In [69]:
point_y

4

##### You can convert a list into a tuple using the `tuple` function, and vice versa using the `list` function

In [70]:
tuple(['one', 'two', 'three'])

('one', 'two', 'three')

In [71]:
list(('Athos', 'Porthos', 'Aramis'))

['Athos', 'Porthos', 'Aramis']

##### Tuples have just two built-in methods: `count` and `index`.

In [73]:
a_tuple = 23, "hello", False, None, 23, 37, "hello"

In [75]:
a_tuple.index(False)

2

Within a Jupyter notebook, you can start a code cell with `?` and type the name of a function or method. When you execute this cell, you will see the function/method's documentation in a pop-up window.

In [80]:
?a_tuple.count

In [81]:
a_tuple.count(23)

2

# Dictionary

In [82]:
person1 = {
    'name': 'John Doe',
    'sex': 'Male',
    'age': 32,
    'married': True
}

In [83]:
person1

{'name': 'John Doe', 'sex': 'Male', 'age': 32, 'married': True}

Dictionaries can also be created using the `dict` function.

In [84]:
person2 = dict(name='Jane Judy', sex='Female', age=28, married=False)

In [85]:
person2

{'name': 'Jane Judy', 'sex': 'Female', 'age': 28, 'married': False}

Keys can be used to access values using square brackets `[` and `]`.

In [86]:
person1['name']

'John Doe'

In [87]:
person1['married']

True

In [88]:
person2['name']

'Jane Judy'

In [89]:
person1['address']

KeyError: 'address'

In [94]:
person1.get('name')

'John Doe'

In [97]:
person1.get('address', 'Unknown')

'Unknown'

##### You can check whether a key is present in a dictionary using the `in` operator.

In [98]:
'name' in person1

True

In [99]:
'address' in person1

False

##### You can change the value associated with a key using the assignment operator.

In [100]:
person2['married']

False

In [101]:
person2['married'] = True

In [102]:
person2['married']

True

##### The assignment operator can also be used to add new key-value pairs to the dictionary.

In [103]:
person1

{'name': 'John Doe', 'sex': 'Male', 'age': 32, 'married': True}

In [104]:
person1['address'] = '1, Penny Lane'

In [105]:
person1

{'name': 'John Doe',
 'sex': 'Male',
 'age': 32,
 'married': True,
 'address': '1, Penny Lane'}

##### To remove a key and the associated value from a dictionary, use the `pop` method.

In [106]:
person1.pop('address')

'1, Penny Lane'

In [107]:
person1

{'name': 'John Doe', 'sex': 'Male', 'age': 32, 'married': True}

##### Dictionaries also provide methods to view the list of keys, values, or key-value pairs inside it.

In [108]:
person1.keys()

dict_keys(['name', 'sex', 'age', 'married'])

In [109]:
person1.values()

dict_values(['John Doe', 'Male', 32, True])

In [110]:
person1.items()

dict_items([('name', 'John Doe'), ('sex', 'Male'), ('age', 32), ('married', True)])