# Hello World! program in Python

In [1]:
print("hello world!")

hello world!

##### We can write mathematical equations using 'dollar' sign in Jupyter Notebook.
$a+b = c$

# Variables

In [4]:
x = 2
y = 3
xy = 7.2

##### The 'type()' function is used to know the datatype of the variable.

In [6]:
print(type(x))

<class 'int'>

In [7]:
print(type(xy))

<class 'float'>

##### The '%whos' is used to know how many variables are there in our memory.

In [8]:
%whos

Variable   Type     Data/Info
-----------------------------
x          int      2
xy         float    7.2
y          int      3

##### We can declare multiple variables at a same time.

In [9]:
a,b,c,d = 2.4,3,4.1,5.0

In [10]:
%whos

Variable   Type     Data/Info
-----------------------------
a          float    2.4
b          int      3
c          float    4.1
d          float    5.0
x          int      2
xy         float    7.2
y          int      3

##### The 'del' is used to delete a variable.

In [11]:
del xy

In [12]:
%whos

Variable   Type     Data/Info
-----------------------------
a          float    2.4
b          int      3
c          float    4.1
d          float    5.0
x          int      2
y          int      3

# Operators

In [13]:
sumOfAandB = a + b

In [14]:
print(sumOfAandB)

5.4

In [15]:
print(type(sumOfAandB))

<class 'float'>

##### Concatenating two string "hello" + "world" = "helloworld".

In [17]:
s1 = "hello"
s2 = "world"

In [18]:
print(s1+s2)

helloworld

In [21]:
10//3

3

##### The '_' stores the value of the last result which is not initialised.

In [22]:
print(_)

3

##### You cannot initialise a variable starting with a number or a special symbol except '_'.

In [23]:
3x = 4

SyntaxError: invalid decimal literal (3434516666.py, line 1)

In [24]:
@y = 2

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2698686122.py, line 1)

In [25]:
_w = 3

In [26]:
print(_w)

3

# Bool Data type

In [30]:
a = True
b = False

In [31]:
print(a and b)

False

In [32]:
print(a or b)

True

In [33]:
not(a)

False

In [34]:
not(b)

True

##### NOTE: 'and'/'or' are binary operators, they need two variables to operate on whereas 'not' is a unitary operator which needs only one variable to operate on.

In [35]:
%whos

Variable     Type     Data/Info
-------------------------------
a            bool     True
b            bool     False
c            float    4.1
d            float    5.0
s1           str      hello
s2           str      world
sumOfAandB   float    5.4
x            int      2
y            int      3

# Comparisions

In [36]:
print(2<3)

True

In [37]:
c = 2<3

In [38]:
print(type(2<3))

<class 'bool'>

In [39]:
3==3.1

False

In [40]:
3==3.0

True

# Some useful functions

##### round( ) function

In [42]:
print(round(3.6231))

4

In [43]:
print(round(4.55842, 3))

4.558

In [44]:
print(round(4.5))

4

In [ ]:
print(round(4.556))

##### divmod(x,y) function

In [ ]:
print("hello")